.body{
  padding: 0;
  margin: 0;}

.boxx{
  height: 35vw ;
  width: 92vw;
  margin: 0.5vw;
  border-radius: 0.5em ;
  padding: 1%;
  background-color: rgb(5, 124, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}  
.box {
  
  height: 35vw ;
  width: 92vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles {
  position: relative;
  height: 50px;
  width: 50px;
}

.circle {
  background-color: rgba(242, 233, 233, 0.5);
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.circle1 {
  left: 15px;
  top: 15px;
}

.circle2 {
  left: -15px;
  top: 15px;
}
.h2  {
  margin-left: 20px;
  text-align: left;
  line-height: 3em;
  font-size: 1.5em ;
  font-style: black ;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;    
}
@media only screen and (min-width: 599px) {
 
  .ele {
    width: 20em;
  }
} 

.p{
  margin-left: 20px;
  text-align: left;
  line-height: 1.4;
  font-size: 1em;    
    
}
.ul {
  line-height: 3;
  padding: 0;
  width: 100%; 
  
}
 
.li:last-child a {
  margin-right: 0;
}
li {
  display: inline;
  width: 100%; 
  
}
a:link, a:visited, a:focus {
  background: rgb(17, 159, 215);
}

a {
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 20px;
  
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 3;
  width: 130px;
  color: white;
  font-style: bold;
  border-radius: 0.2em;
  padding: 100%;
  
}  


























